In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/SOdata/SOdata-Intermediate.csv"
tdf = pd.read_csv(path)

In [ ]:
#tdf = df.head(10)

In [ ]:
tdf.drop("body", inplace=True, axis=1)

In [ ]:
for index in tdf.index:
  try:
    tdf['tags'][index] = eval(tdf['tags'][index])
    tdf['text'][index] = eval(tdf['text'][index])
    tdf['code'][index] = eval(tdf['code'][index])
  except:
    continue

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for index in tdf.index:
  flatten_text = " ".join([word for txt in tdf['text'][index] for word in txt])
  tdf['text'][index] = flatten_text
  flatten_code = " ".join([code for txt in tdf['code'][index] for code in txt])
  tdf['code'][index] = flatten_code

print(tdf['text'][2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
print(tdf['text'][4])

In [ ]:
import regex as re

for index in tdf.index:
  tdf['text'][index]=re.sub('<.*?>','',tdf['text'][index])
  tdf['code'][index]=re.sub('\n','',tdf['code'][index])
  tdf['text'][index]=re.sub('\n',' ',tdf['text'][index])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
tdf.to_csv('SOdata-Cleaned.csv', index=False)
!cp SOdata-Cleaned.csv "drive/My Drive/SOdata-Cleaned.csv"

In [ ]:
df = pd.read_csv("/content/SOdata-Cleaned.csv")
df

                                                    title  ...                                               text
0                get asset images dynamically in React.js  ...  My assets I want to import all of them dynamic...
1                        Use apply function avoiding nans  ...  I have this function: I want to apply decdeg2d...
2       How can I change price on changing selecting d...  ...  Html Script Problem In the dropdown I have dif...
3       Extracting the exact word between two words wi...  ...  I am trying to extract a word between two spec...
4       jQuery I want to list only users with postion ...  ...  My problem is that I don't know how to list us...
...                                                   ...  ...                                                ...
188668  PHP's exec() returns a different result than r...  ...  so I've read a lot of similar questions on her...
188669  Why the menu is not always displayed with HTML...  ...  I want to separate the menu (navbar) in an ext...
188670             How to create a thread inside a class?  ...  Error C2065 'function': undeclared identifier ...
188671          Calling multiple variables in another Sub  ...  I have a problem when I try to use a variable ...
188672   interpolate a string with an incrementing number  ...  Im trying to interpolate a string with a numbe...

[188673 rows x 8 columns]

In [ ]:
type(df['tags'][2])

str

In [ ]:
df['text'][69420]

"So I'm learning html and CSS and trying to make images fit in a line. It seems that the below code isn't working: If I increase the  to , It will work but then It won't fit in a line. I can see in the example that the images auto resize to fit the . I've included pics in the below. Can someone help me with this? Thank you very much. code:   /*================== TABLE OF CONTENT =================*/   /*      1. RESET CSS       2. DEFAULT STYLE       3. STYLE PORTFOLIO     */   /*===============  1. RESET CSS ==============*/  * {   padding: 0;   : 0;   box-sizing: border-box; }  a {   text-decoration: none; }  li {   list-style: none; }   /*===============  2. DEFAULT STYLE ==============*/  .container {   max-width: 1170px;   padding: 0 12px;   : 0 auto;   height: 100%; }   /*===============  3. STYLE PORTFOLIO ==============*/  .container .heading {   text-align: center;   padding: 40px 0; }  .container .heading .heading-title {   padding: 20px;   font-size: 35px; }  .container .heading .heading-description {   font-size: 18px;   font-weight: 500;   font-style: italic;   color: gray; }  .container .portfolio-region {   padding-top: 40px; }  .container .portfolio-region .portfolio-item {   display: inline-block;   width: 30%; }  .container .portfolio-region ul {   text-align: center; }  .container .portfolio-region ul li:nth-child(2) {   : 0 30px; }  .container .portfolio-region .portfolio-item .img {   max-width: 100%; }  .container .portfolio-region .portfolio-item h4 {   padding-top: 20px;   font-size: 25px;   line-height: 40px; }  .container .portfolio-region .portfolio-item p {   color: #6C757F;   font-style: italic;   font-size: 18px;   padding-bottom: 20px; }      "

In [ ]:
df['tags'][69420]

"['html', 'css']"

In [ ]:
df['text'][10000]

"I want to detect (and return) any punctuation within brackets. The line of text I'm looking at will have multiple sets of brackets (which I can assume are properly formatted). So given something like this: I'd want to detect all those cases and return something like . I tried to do  but then it returns true for  which I don't want to match! I'm using JS!"