In [ ]:
import pandas as pd
import numpy as np
from sklearn.multiclass import OneVsRestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score, confusion_matrix

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_colwidth', 200)

In [ ]:
#NLP Libraries
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# read in the data
from ast import literal_eval
path = "/content/drive/MyDrive/SOdata/SOdata-Cleaned.csv"
rdf = pd.read_csv(path, converters={'tags': literal_eval})

In [ ]:
df = rdf.loc[:, ['title', 'text', 'tags']]

In [ ]:
# dropping instances without a title/text/tag
df.dropna(inplace=True)

In [ ]:
# Stemming
def token(s):
  return nltk.sent_tokenize(s)

df['tokenized_text'] = df['text']

for index in df.index:
  s = df['text'][index]
  s = token(s)
  l = []
  for i in range(len(s)):
    s[i] = s[i].lower()
    words = nltk.word_tokenize(s[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    s[i] = ' '.join(words)
    l.append(s[i])

  df['tokenized_text'][index] = l

df.head()

                                                                                     title  ...                                                                                                                                                                                           tokenized_text
0                                                 get asset images dynamically in React.js  ...                                                                                                                                                     [asset want import dynam ., like ... achiev react.j]
1                                                         Use apply function avoiding nans  ...   [function : want appli decdeg2dm fuction column wrote code : get error : n't want remov nan valu , appli function non nan valu tri : get error : appli function non nan valu without remov nan valu ?]
2           How can I change price on changing selecting different from dropdown? (Django)  ...                                    [html script problem dropdown differ valu server { { val.pric } } repres price item ., want chang option valu dropdown price updat & quot ; price & quot ; respect .]
3  Extracting the exact word between two words without question mark in python using REGEX  ...                                           [tri extract word two specif word string ., tri far , replac question mark blank space get desir output look way extract exact word question mark next word .]
4                          jQuery I want to list only users with postion : 2 from database  ...  [problem n't know list user posit 2 ., one user class enumer class call postion three posit ( admin , member , coach ) ., want list user whose posit 2 , , coach , via ajax ., anyon know put could ...

[5 rows x 4 columns]

In [ ]:
df.to_csv('SOdata-Tokenized.csv', index=False)
!cp SOdata-Tokenized.csv "drive/My Drive/SOdata-Tokenized.csv"

In [ ]:
s = df.text[2]
s = token(s)
print(s)
for i in range(len(s)):
    words = nltk.word_tokenize(s[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    s[i] = ' '.join(words)

print(s)
print(type(s))

In [ ]:
df2 = pd.read_csv("/content/SOdata-Tokenized.csv")
df2

                                                                                          title  ...                                                                                                                                                                                           tokenized_text
0                                                      get asset images dynamically in React.js  ...                                                                                                                                                 ['asset want import dynam .', 'like ... achiev react.j']
1                                                              Use apply function avoiding nans  ...  ["function : want appli decdeg2dm fuction column wrote code : get error : n't want remov nan valu , appli function non nan valu tri : get error : appli function non nan valu without remov nan valu...
2                How can I change price on changing selecting different from dropdown? (Django)  ...                                ['html script problem dropdown differ valu server { { val.pric } } repres price item .', 'want chang option valu dropdown price updat & quot ; price & quot ; respect .']
3       Extracting the exact word between two words without question mark in python using REGEX  ...                                       ['tri extract word two specif word string .', 'tri far , replac question mark blank space get desir output look way extract exact word question mark next word .']
4                               jQuery I want to list only users with postion : 2 from database  ...  ["problem n't know list user posit 2 .", 'one user class enumer class call postion three posit ( admin , member , coach ) .', 'want list user whose posit 2 , , coach , via ajax .', 'anyon know put...
...                                                                                         ...  ...                                                                                                                                                                                                      ...
188361            PHP's exec() returns a different result than running the command in the shell  ...  ["'ve read lot similar question , none answer question .", "problem whenev run php use shell_ , give `` crontab x '' ( x usernam ) , run command shell ( via ssh ) , get correct result .", 'n.b .',...
188362                           Why the menu is not always displayed with HTML and Javascript?  ...  ['want separ menu ( navbar ) extern html page load html page .', 'css anim nav-animation.j load menu load .', "navbar.html file like : nav.j script load menu menu anim : html page , import jqueri ...
188363                                                   How to create a thread inside a class?  ...                                                                                                           ["error c2065 'function ' : undeclar identifi creat thread insid class use static function ?"]
188364                                                Calling multiple variables in another Sub  ...  ['problem tri use variabl creat subroutin anoth subroutin .', "follow exampl , creat variabl power_origin , power_destin , ... sub part0 , use one sub part1 , ca n't use 1 variabl singl subroutin ...
188365                                         interpolate a string with an incrementing number  ...              ['im tri interpol string number increment number iter list attende ...', 'string know iter guest name , get number increment within string ?', 'know simpl .', 'beginn .', 'tri everyth .']

[188366 rows x 4 columns]

In [ ]:
df2['tokenized_title'] = df2['title']

for index in df2.index:
  s = df2['title'][index]
  s = token(s)
  l = []
  for i in range(len(s)):
    s[i] = s[i].lower()
    words = nltk.word_tokenize(s[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    s[i] = ' '.join(words)
    l.append(s[i])
  print(index)

  df2['tokenized_title'][index] = l

df2

In [ ]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

In [ ]:
train_set

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Tue Jan  1 20:40:19 2019

@author: Krish.Naik
"""

import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

paragraph = """I have three visions for India. In 3000 years of our history, people from all over
               the world have come and invaded us, captured our lands, conquered our minds.
               From Alexander onwards, the Greeks, the Turks, the Moguls, the Portuguese, the British,
               the French, the Dutch, all of them came and looted us, took over what was ours.
               Yet we have not done this to any other nation. We have not conquered anyone.
               We have not grabbed their land, their culture,
               their history and tried to enforce our way of life on them.
               Why? Because we respect the freedom of others.That is why my
               first vision is that of freedom. I believe that India got its first vision of
               this in 1857, when we started the War of Independence. It is this freedom that
               we must protect and nurture and build on. If we are not free, no one will respect us.
               My second vision for India’s development. For fifty years we have been a developing nation.
               It is time we see ourselves as a developed nation. We are among the top 5 nations of the world
               in terms of GDP. We have a 10 percent growth rate in most areas. Our poverty levels are falling.
               Our achievements are being globally recognised today. Yet we lack the self-confidence to
               see ourselves as a developed nation, self-reliant and self-assured. Isn’t this incorrect?
               I have a third vision. India must stand up to the world. Because I believe that unless India
               stands up to the world, no one will respect us. Only strength respects strength. We must be
               strong not only as a military power but also as an economic power. Both must go hand-in-hand.
               My good fortune was to have worked with three great minds. Dr. Vikram Sarabhai of the Dept. of
               space, Professor Satish Dhawan, who succeeded him and Dr. Brahm Prakash, father of nuclear material.
               I was lucky to have worked with all three of them closely and consider this the great opportunity of my life.
               I see four milestones in my career"""


sentences = nltk.sent_tokenize(paragraph)
stemmer = PorterStemmer()
print(type(sentences))
# Stemming
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    sentences[i] = ' '.join(words)

print(sentences)

In [ ]:
df2.to_csv('SOdata-Tokenized.csv', index=False)
!cp SOdata-Tokenized.csv "/content/drive/MyDrive/SOdata/SOdata-Tokenized.csv"